dist: xenial
language: cpp

install:
  - sudo apt-get update -qq
  - sudo apt-get install -y cmake libboost-system-dev libssl-dev libmysqlclient-dev realpath

script:
  - cmake -DCMAKE_INSTALL_PREFIX=/usr -DSYSTEMD_SERVICE=ON .
  - sudo make install
  - ctest
