# Installation:
#
# replace /path/to/config.json with the location of your config file
# cp trojan.service /etc/systemd/system/
# systemctl daemon-reload
# systemctl enable trojan
# systemctl start trojan

[Unit]
Description=An unidentifiable mechanism that helps you bypass GFW.
After=syslog.target network.target

[Service]
Type=simple
PIDFile=/run/trojan.pid
ExecStart=/usr/bin/trojan /path/to/config.json 2>> /var/log/trojan.log
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
